.main {
    background-image: url(/images/404\ error\ concept\ with\ face\ _\ Premium\ Vector.jpeg);
    background-repeat: no-repeat;   
    background-size: contain;      
    background-position: center;
    background-color: #FFFFFF;
}